/* Inline lists */
.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  margin-top: 8px;
  padding: 4px;
  background-color: #f5f5f5;
}

.footer ul li {
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

.footer li ~ li {
  float: right;
}

/* Twitter status */
#tweets p, #tweets a {
  margin: 0;
}

#tweets ul {
  /* FIXME: The next 3 settings are .inline-list; apply with SASS? */
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden; /* Puts line break after "follow" line */
}

#tweets .timePosted a {
  font-size: small;
}

#tweets .interact {
  float: right;
}

#tweets .interact a {
  margin-left: 5px;
  float: right;
  font-size: small;
}
